--
-- PostgreSQL database dump
--

\restrict tXZB48Zu0an2XNd93HLN1LbBynVqK5lrQWXEWxMPPhqBmt4qou9fEIRMY8tuSK8

-- Dumped from database version 15.19
-- Dumped by pg_dump version 15.19

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id character varying(255) NOT NULL,
    type character varying(100) NOT NULL,
    message text NOT NULL,
    status character varying(50) DEFAULT 'Pending'::character varying NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    retry_count integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict tXZB48Zu0an2XNd93HLN1LbBynVqK5lrQWXEWxMPPhqBmt4qou9fEIRMY8tuSK8

